/* bootstrap tuning */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.nav-tabs li {
    cursor: pointer;
}
.container-fluid {
    margin-top: 15px;
}

/* my */
.reviewed-by-user {
    background-color: #E4FBEF;
}
.user-is-owner {
    background-color: #E4FBEF;
}
.submit-ready {
    background-color: #CAECF6;
}
img.avatar {
    border-radius: 50%;
    margin-right: 0.2em;
    position: relative;
    top: 2px;
    height: 16px !important;
    width: 16px;
    float: left;
}
.svg-button {
    fill: #FFFFFF;
    cursor: pointer;
    stroke: #000000;
    stroke-width: 0.2;
}
.svg-button:hover {
    fill: #B4E2FE;
}
.svg-button.pressed {
    fill: #1F77AD;
}
.svg-button-text {
    cursor: pointer;
    font-family: Helvetica,Calibri,Arial;
    font-size: 11pt;
    text-anchor: middle;
    dominant-baseline: central;
    fill: black;
}
.refresh {
    float: right;
}
.loader {
    -webkit-animation: rotate 1s linear infinite;
    margin: auto;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.review {
    white-space: nowrap;
}
.review_sum {
    margin-right: 4px;
    font-weight: bold;
}
.review_one {
    position: relative;
    margin-right: 5px;
}
.review_one .avatar {
    float: none;
    top: 0;
    margin-top: -2px;
}
.review_one_val {
    position: absolute;
    top: -13px;
    left: 13px;
    font-weight: bold;
    font-size: 16px;
}
.review_good {
    color: #3CAA3C;
}
.review_bad {
    color: #AB343A;
}
