<!DOCTYPE html>
<html>
  <head>
    <title>Overlook</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../app/index.js" charset="UTF-8"></script>
    <script id="template-row" type="text/x-handlebars-template">
        {{#each changes}}
        <tr id="gid{{_number}}" class="gerrit-change">
            <td><a href="javascript:void(0);" onclick="OpenGerritLink('{{link}}');"><span>{{_number}}</span></a></td>
            <td id="CR{{_number}}"><span></span></td>
            <td id="V{{_number}}"><span></span></td>
            <td>{{project}} ({{branch}})</td>
            <td>{{subject}}</td>
            <td><img class="avatar" src="{{owner_avatar_url}}" title="{{owner.name}}">{{owner.name}}</td>
        </tr>
        {{/each}}
    </script>
  </head>
  <body>
  <div class="container-fluid">
        <div id="login">
            <form class="form-signin" novalidate>
                <h2>Log in</h2>
                <label for="user" class="sr-only">User</label>
                <input type="text" id="user" class="form-control" placeholder="Gerrit user" required autofocus>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="save_password"> Save password
                    </label>
                </div>
                <button id="login_btn" class="btn btn-primary btn-block" type="button">Log in</button>
            </form>
        </div>
        <div id="menu" class="row hide">
            <div class="col-xs-11">
                <ul class="nav nav-tabs">
                    <li id="nav_all" role="presentation" class="active">
                        <a>All <span id="all_num" class="badge"></span></a>
                    </li>
                    <li onclick="filter_mine()" id="nav_mine" role="presentation">
                        <a>Mine <span id="mine_num" class="badge"></span></a>
                    </li>
                    <li id="nav_review" role="presentation">
                        <a>Need review <span id="review_num" class="badge"></span></a>
                    </li>
                    <li id="nav_submit" role="presentation">
                        <a>Ready for submit <span id="submit_num" class="badge"></span></a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-1">
                <button id="btn-refresh" type="button" class="btn btn-default refresh">
                    <span class="glyphicon glyphicon-refresh" id="loader" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div id="debug"></div>
        <div id="gerrit">
            <table class="table table-bordered table-condensed hide" id="gerrit_changes">
                <thead>
                    <tr>
                        <th>ID</th><th>CR</th><th>V</th><th>Project</th><th>Subject</th><th>Owner</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
  </body>
</html>
